

body{
    background-color: rgb(0, 0, 0);
    min-height: 75rem;
    padding-top: 0px;
}

.contenedor{
    width: 1100px !important;
    margin:auto !important;
    
}

.jumbo{
    margin-top: -100px;
    background-color: rgba(0, 0, 0,0, 5.6);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../img/ba1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:600px ;
    color: white;
    margin-bottom: 0;
}

.texto{
    width: 500px;
    margin-left: 490px;
    padding-top: 200px;
    text-align: right;
}

.text-titulo{
   text-align: right;
   
}

.text-parrafo{
    text-align: right;
}


.opciones-menu{

    margin-right: 50px;
}

.logo{
    margin-left: 50px;
}

.tarjetas{
    background-color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 25px;
}
.tarjeta-left{
    width: 70%;
    float: right;
    left: 50px;
    text-align: left;
    border: 1px solid rgb(202, 202, 202);
}
.tarjeta-center{
    width: 70%;
    text-align: left;
    border: 1px solid rgb(202, 202, 202);
}
.tarjeta-right{
    width: 70%;
    float:left;
    right: 50px;
    text-align: left;
    border: 1px solid rgb(202, 202, 202);
}

.texto-tarjetas{
    font-size: smaller;
}

.texto-tarjetas2{
    font-size:x-large;
    font-weight: bold;
}

.texto-tarjetas3{
    font-size: small;
}

.boton-small{
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    font-size:x-small;
    font-weight: bold;
}

.playa{
    background-color: rgb(39, 38, 38);
    color: aliceblue;
    margin-bottom: 0px;
    display: flex;
    border: 0px;
}

.tarjeta-imagen{
    background-image:url("../img/honolulu.jpg") ;
    background-size: cover;
    width: 50%;
    height: 340px;
    float: left;
}

.tarjeta-body{
    width: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
}

.formulario{
    background-color: white;
    text-align: center;
    /* margin-top: -16px; */
    padding-top: 10px;
    padding-bottom: 25px;
    color: black;
    align-items: center;
    
}

.formulario-content{
    width: 50%;
    margin: auto;
}

.formulario input{

    font-size: smaller;
    
}


.texto-label{
    font-size: smaller;
    
}
.area{
    text-align: left ;
}

.boton-enviar{
    background-color: rgb(132, 177, 65);
    width: 100%;
}

footer{
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(57, 57, 87);
    font-size: smaller;
}

footer a{
    color: antiquewhite;
}

footer a:hover{
    color: aquamarine;
    cursor: pointer;
}

